@import 'prism-themes/themes/prism-vsc-dark-plus.css';

.post {
  @apply my-5 text-base font-medium text-neutral-800 dark:text-white !important;
}

.post a {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-blue-600 dark:from-blue-400 dark:to-blue-500 !important;
}

.post p {
  @apply mt-0 mb-9 text-[15px] sm:text-base !important;
}

.post h2 {
  @apply px-4 py-2 mt-16 mb-12 border-l-4 border-current text-2xl !important;
}

.post h3 {
  @apply px-4 py-2 mt-10 mb-8 border-b-2 text-xl !important;
}

.post h4 {
  @apply mb-4 text-lg !important;
}

.post ul+p {
  @apply mt-5 !important;
}

.post code {
  font-size: max(12px, 85%) !important;
  @apply whitespace-nowrap font-mono mx-[2px] py-[2px] px-[3px] rounded-sm text-neutral-700 bg-neutral-100 dark:text-neutral-100 dark:bg-neutral-700 !important;
}

.post pre code {
  @apply whitespace-pre m-0 p-0 text-[13px] sm:text-sm text-inherit bg-transparent dark:text-inherit dark:bg-transparent !important;
}

.post pre {
  @apply p-4 mb-9 rounded-md !important;
}

/* 引用 */
.post blockquote {
  @apply border-l-4 border-teal-800 dark:border-teal-400 bg-neutral-100 dark:bg-neutral-800 text-primary-1 px-4 py-3 my-6 rounded-md;
}

.post blockquote p {
  @apply m-0;
}

/* 注釈 */
.admonition {
  @apply border-l-4 px-4 py-3 my-6 rounded-md bg-neutral-100 dark:bg-neutral-800;
}

.admonition-title {
  @apply flex items-center font-bold mb-1;
}

.admonition p {
  @apply m-0 text-primary-1;
}

/* カラー設定 */
.admonition-note {
  @apply border-blue-500 text-blue-700 dark:text-blue-400;
}

.admonition-tip {
  @apply border-green-500 text-green-700 dark:text-green-400;
}

.admonition-important {
  @apply border-purple-500 text-purple-700 dark:text-purple-400;
}

.admonition-warning {
  @apply border-yellow-500 text-yellow-700 dark:text-yellow-400;
}

.admonition-caution {
  @apply border-red-500 text-red-700 dark:text-red-400;
}

/* アイコン付きタイトル */
.admonition-title::before {
  @apply mr-2;
}

.admonition-note .admonition-title::before {
  content: "ℹ️";
}

.admonition-tip .admonition-title::before {
  content: "💡";
}

.admonition-important .admonition-title::before {
  content: "📢";
}

.admonition-warning .admonition-title::before {
  content: "⚠️";
}

.admonition-caution .admonition-title::before {
  content: "❗";
}